<p>directives works!</p>


<p *ngFor="let age of ages">
    My age is {{age}}
</p>

<p *ngFor="let state of states; let i=index">
     State {{i+1}}  is {{state}}
</p>

<ol type="A">
    
    <li *ngFor="let state of states">{{state}}</li>
</ol>

<select name="" id="">
    <option *ngFor="let state of states">{{state}}</option>
</select>

<p *ngFor="let product of products">
    The {{product.name}} price is {{product.price | balance}} and rating is {{product.rating}}
</p>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td [ngClass]="{'red': product.price<1000,'blue': product.price>=1000&&product.price<5000, 'green': product.price>=5000 }">{{product.price}}</td>
            <td [ngStyle]="{'color': product.rating>3?'blue':'red'}">{{product.rating}}</td>
        </tr>
    </tbody>
</table>
<br>


<table border="5">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.company}}</td>
            <td>{{employee.experience}}</td>
        </tr>
    </tbody>
</table>

<h1 *ngIf="true">Hiii Venkat</h1>
<h1 *ngFor="let product of products">
    {{product.name}}
    {{product.rating}}
    {{product.price}}
</h1>
