<div class="parent">
    <div class="child">
        <label for="num1"> Enter Number 1:</label>
        <input type="number" [(ngModel)]="num1" id="num1">
        <br>
        <label for="num2"> Enter Number 2:</label>
        <input type="number" [(ngModel)]="num2" id="num2">
        <br>
        <button [disabled]="!(num1&&num2)" (click)="sum()">sum</button>
        <button [disabled]="!(num1&&num2)" (click)="sub()">sub</button>
        <button [disabled]="!(num1&&num2)" (click)="mul()">mul</button>
        <button [disabled]="!(num1&&num2)" (click)="div()">div</button>

        <br>
        <br>
        <h1 >Result is: {{result}}</h1>
    </div>
</div>
