.parent{
    width: 100vw;
    height: 100vh;
    background-color:rgb(253, 253, 250) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
 width: 200px;
 height: 300px;
 background-color: rgb(234, 242, 250);
 box-shadow: 0 0 10px gray;
 border-radius: 20px;
 text-align: center;
 
}

input{
    margin-bottom: 20px;
    height: 20px;

}
button{
    width: 80%;
    height: 25px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0;
    background-color: green;
    color: aliceblue;
    
}
button:hover{
    background-color:rgb(2, 190, 2);
    cursor: pointer;
}