.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    justify-content: center;
    align-items: center;
}
form{
 width: 220px;
 height: auto;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 border-radius: 20px;
 background-color: rgba(255, 255, 255, 0.9);
 text-align: center;
 
}

input{
    margin-bottom: 20px;
    margin-top: 10px;
    height: 30px;

}
button{
    width: 80%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0;
    background-color: green;
    color: aliceblue;
    
}
button:hover{
    background-color:rgb(2, 190, 2);
    cursor: pointer;
}