Search: <input type="text" [(ngModel)]="term" (keyup)="filter()">
Page: <select  [(ngModel)]="page" (change)="paged()">
    <option value="1">1</option>
    <option value="2">second</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>
<label for="column">Column:</label>
<select [(ngModel)]="col" >
    <option>Vehicle</option>
    <option>manufacturer</option>
    <option>model</option>
    <option>type</option>
    <option>fuel</option>
    <option>color</option>
    <option>cost</option>
    <option>id</option>
</select>
<label for="order">Order:</label>
<select [(ngModel)]="order">
    <option value="asc">Ascending Order</option>
    <option value="desc">Descending Order</option>
</select>
<button (click)="sort()">Sort</button>


<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Color</th>
            <th>Image</th>
            <th>Cost</th>
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td><img src="{{vehicle.image}}" alt="" width="100px" height="80px"></td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.id}}</td>
            <td>
           
                <button class="btn btn-primary" (click)="view(vehicle.id)">View</button>
            
                <button class="btn btn-warning" (click)="edit(vehicle.id)">Edit</button>
                <button class="btn btn-danger" (click)="delete(vehicle.id)">Delete</button>

            </td>

        </tr>
    </tbody>
</table>
