<div class="parent">
    <div class="left">
       <h1>My Website</h1>
       <hr>
       <h4 routerLink="welcome">Welcome</h4>
       <h4 routerLink="home">Home</h4>
       <h4 routerLink="databinding">Data-binding</h4>
       <h4 routerLink="cal">Calculator</h4>
       <h4 routerLink="rectangle">Rectangle</h4>
       <h4 routerLink="circle">Circle</h4>
       <h4 routerLink="BMI">BMI</h4>
       <h4 routerLink="directives">Directives</h4>
       <h4 routerLink="event">Event</h4>
       <h4 routerLink="students">Students</h4>
       <h4 routerLink="carcompany">Car Company</h4>
       <h4 routerLink="Dice">Dice Game</h4>
       <h4 routerLink="pipes">pipes</h4>
       <h4 routerLink="shopping">Shopping</h4>
       <h4 routerLink="vehicle">Vehicles</h4>
       <h4 routerLink="bank">BankAccounts</h4>
       <h4 routerLink="flipkart">Flipkart</h4>
       <h4 routerLink="email">Email</h4>
       <h4 routerLink="reload">Reload</h4>
       <h4 routerLink="create-vehicle">Create Vehicle</h4>
       <h4 routerLink="create-bankaccount">Create Bank Account</h4>
       <h4 routerLink="create-user">Create User</h4>
       <h4 routerLink="employee-details">Employee Details </h4>

       <button (click)="logout()">Logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
