<div class="parent">
    <div class="left">
       <h1>My Website</h1>
       <hr>
       <h3 routerLink="welcome">Welcome</h3>
       <h3 routerLink="home">Home</h3>
       <h3 routerLink="databinding">Data-binding</h3>
       <h3 routerLink="cal">Calculator</h3>
       <h3 routerLink="rectangle">Rectangle</h3>
       <h3 routerLink="circle">Circle</h3>
       <h3 routerLink="BMI">BMI</h3>
       <br>
       <button routerLink="/login">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
