<div class="parent">
    <div class="child">
        <button (click)="roll()" > Roll</button>
        <br>
        <img *ngIf="number==1" src="assets/dice1.jpeg" alt="">
        <img *ngIf="number==2" src="assets/dice2.jpeg" alt="">
        <img *ngIf="number==3" src="assets/dice3.png" alt="">
        <img *ngIf="number==4" src="assets/dice4.jpeg" alt="">
        <img *ngIf="number==5" src="assets/dice5.jpeg" alt="">
        <img *ngIf="number==6" src="assets/dice6.jpeg" alt="">

    </div>    
</div>